
* {
  box-sizing: border-box;
}

body {
  color: #808080;
  margin: 0;
  font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: .065em;
  font-weight: 400;
}

h1 {
  color: white;
  font-size: 5.5rem;
  font-weight: 700;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
  text-align: center;
  margin-top: 90px;

}

h1,
h2 {
  font-family: 'Poiret One', cursive;
}

img {
  max-width: 100%;
  margin-top: 2em;
  margin-bottom: 20px;
  border-radius: 10px;
  height: 11.375em;
  width: 19.1875em;
}

/* Class Layouts */

.quote {
  color: white;
  font-size: 1.1rem;
  letter-spacing: .065em;
  font-weight: 200;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
  border-bottom: 2px solid;
  width: 90%;
  text-align: center;
  padding: 70px 0 10px;
  margin: 0 auto;

}

.main-header {
  height: 40em;
  background: linear-gradient(0deg, #ffffff, transparent 40%),
              url('../img/header.jpg') no-repeat center;
  background-size: cover;
}

.t-border {
  border-top: 2px solid #dfe2e6;
  width: 90%;
  margin: 0 auto;
}

.border {
  border-top: 2px solid #dfe2e6;
  width: 90%;
  margin: 0 auto;
}

#about {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px;
}

.wildlife {
  color: white;
  text-align: left;
  font-size: .9rem;
  padding: 18% 18%;
  margin: 105px 0 60px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 40px;
  border-top: 5px solid #ffa949;
  background: linear-gradient(black, transparent 90%),
              linear-gradient(0deg, black, transparent 40%),
              #434a52 url('../img/bullelk.jpg') no-repeat center;
  background-size: cover;
  border-radius: 25px;
}

.wildlife-header {
  font-size: 2em;
}

.summer-image,
.winter-image,
.wildlife,
.rental-home,
.home {
  box-shadow: 0 15px 10px -8px rgba(0, 0, 0, .8);
}

.summer,
.winter,
.real-estate,
.rental {
  width: 90%;
  margin: 0 auto;
}

.list {
  margin-bottom: 2em;
}

.bottom {
  border-top: 2px solid #dfe2e6;
  width: 90%;
  margin: 0 auto;
}

.bottom-footer,
.back-top {
  text-align: center;
}



/* Pseudo Classes */

a:link {
  color: #ffa949;
  text-decoration: none;
}

a:hover {
  color: rgba(255, 169, 73, .4);
}

a:visited {
  color: lightblue;
}

/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {

  h1 {
    font-size: 8em;
  }

  .quote {
    font-size: 1.5em;
  }

  .wildlife-header {
    font-size: 3em;
  }

  .wildlife {
    font-size: 1.2em;
  }

  img {
    height: 19em;
    width: 29em;
  }

  .border {
    border-top: none;
  }

  .group {
    width: 90%;
    margin: 0 auto;
  }

  .summer,
  .winter,
  .rental,
  .real-estate {
    padding-right: 1.2em;
    padding-left: 1.2em;
  }

  .primary-content,
  .secondary-content {
    display: flex;
    align-content: center;
  }








}
